
.dog {
  width: 300px;
  height: auto;
  float: left;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  margin-left: 15px;
}

.dog p {
  text-align: left;
}

.dog img {
  width: 300px;
}

.sharpdog {
  width:300px;
  float: left;
  height: auto;
  margin-left: 15px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.sharpdog p {
  text-align: left;
}

.sharpdog img {
  width: 300px;

}

.thirdDog {
  width:300px;
  float: left;
  height: auto;
  margin-left: 15px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.thirdDog p {
  text-align: left;
}

.thirdDog img {
  width: 300px;
}