
h1 {
  text-align: center;
  font-size: 50pt;
  font-style: bold;
}

body {
  background-color: burlywood;
}

.heading{
  text-align: center;
  font-weight: bold;
}

.dog {
  width: 300px;
  height: 600px;
  float: left;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  margin-left: 15px;
  background-color: cornsilk;
}

.dog p {
  text-align: left;
}

.dog h3{
  color: brown
}

.dog img {
  width: 300px;

}

.dog a{
  background-color: brown;
  font-style: italic;
  font-weight: bold;
}

.sharpdog {
  width:300px;
  float: left;
  height: 600px;
  margin-left: 15px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  background-color: cornsilk;
}

.sharpdog p {
  text-align: left;
}

.sharpdog h3{
  color: green;
}

.sharpdog img {
  width: 300px;

}

.sharpdog a{
  background-color:green;
  font-style: italic;
  font-weight:bold;
}

.thirdDog {
  width:300px;
  float: left;
  height: 600px;
  margin-left: 15px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  background-color: cornsilk;
}

.thirdDog p {
  text-align: left;
}

.thirdDog h3{
  color: gray;
}

.thirdDog img {
  width: 300px;

}

.thirdDog a{
  background-color: gray;
  font-style: italic;
  font-weight: bold;
}